@charset "utf-8";
@import"./reset.css";

body {
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;
}

body.theme { background: linear-gradient(135deg, #1e3c72, #2a5298); }
body.pink { background: linear-gradient(135deg, #ff758c, #ff7eb3); }

#game {
    margin-top: 50px;
}

input {
    padding: 10px;
    font-size: 18px;
    width: 250px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

.correct {
    color: lightgreen;
}

.wrong {
    color: red;
}



